*{
	margin: 0;
	padding: 0;
	border: none;
}
html,body{
	height: 100vh;
	overflow: hidden;
}
.page{
	width: 100%;
	height: 100%;
	position: relative;
}
.page .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.page .bg img{
    height: 111vh;
    width: auto;
    background-repeat: no-repeat;
    background-clip: border-box;
    top: -6vh;
    position: absolute;
    left: -30vw;
    animation: bgpage 2s linear 1;
}

@keyframes bgpage{
	0%{
		transform: scale(1.5);
	}
	35%{
		transform: scale(0.95);
	}
	60%{
		transform: scale(1.2);
	}
	78%{
		transform: scale(0.95);
	}
	100%{
		transform: scale(1);
	}
}

.page .first{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.page .first .starstatic{
	position: absolute;
	width: 100%;
	height: 35vh;
	top:0;
	left: 0;
}
.page .first .starstatic .star1{
	position: absolute;
	top: 0;
	left: 0;
	width: 60vw;
	height: auto;
}
.page .first .starstatic .star2{
	position: absolute;
	top: 0;
    right: -20vw;
    width: 115vw;
	height: auto;
}
.page .first .twofeather{
	position: absolute;
	top: 15vh;
	left: 0;
	width: 100vw;
}
.page .first .twofeather .shinning{
	width: 60vw;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
}
.page .first .twofeather::before{
    width: 55vw;
    height: 55vh;
    position: absolute;
    content: "";
    background: url(./img/feather3.png) no-repeat;
    background-size: 100%;
    left: 10vw;
}
.page .first .twofeather::after{
    width: 55vw;
    height: 55vh;
    position: absolute;
    content: "";
    background: url(./img/feather2.png) no-repeat;
    background-size: 100%;
    right: 10vw;
    top: 1vh;
}
.page .first .twofeather .font{
    position: absolute;
    width: 70vw;
    height: auto;
    left: 0;
    right: 0;
    top: 3vh;
    margin: auto;
    z-index: 3;
}
